.sep-text {
    display: table-column;
    horiz-align: center;
    background: coral;
    color: coral;
    padding-top: 5px;
    padding-bottom: 5px;

    font-size: 5px
}
.Project {
    position: relative ;
}
.line {
    width: 100%;
    height: 0;
    border: 1px solid coral;
    margin: 50px;
    display: inline-block;
}

.back-in-line {
    width: 100%;
    height: 0;
    border: transparent;
    margin-top: 30px;
    text-align: center;
}

.ProjectCard h1 {
    text-align: center;
}

.ProjectCard p {
    text-align: center;
}

.img-project {
    box-shadow: 2rem 2rem 2rem #000;
}

.code {
    width: auto;
    min-width: fit-content;
    text-decoration: none;
    color: #ff6600;
    margin: 50px auto 0;
    border: 1px solid #ff6600;
    border-radius: 9px;
    padding: 5px 15px;
    display: block;
    text-align: center;
    white-space: nowrap;
}

.code:hover {
    box-shadow: 7px 4px 4px #000;
    color: #ff6600;
}

.code-mobile {
    width: auto;
    min-width: fit-content;
    text-decoration: none;
    color: #ff6600;
    margin: 70px auto 0;
    border: 1px solid #ff6600;
    border-radius: 9px;
    padding: 5px 15px;
    display: block;
    text-align: center;
    white-space: nowrap;
}

.code-mobile:hover {
    box-shadow: 7px 4px 4px #000;
    color: #ff6600;
}

.website-btn {
    color: #ff6600 !important;
    border-color: #ff6600 !important;
    width: auto !important;
    min-width: fit-content;
    padding: 5px 15px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.website-btn:hover {
    color: #ff6600 !important;
    border-color: #ff6600 !important;
}

.website-btn-mobile {
    color: #ff6600 !important;
    border-color: #ff6600 !important;
    width: auto !important;
    min-width: fit-content;
    padding: 5px 15px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.website-btn-mobile:hover {
    color: #ff6600 !important;
    border-color: #ff6600 !important;
}